<div class="container">
  <div class="center" *ngIf="user; else login" >
    <h1>Bonjour {{user.displayName}}</h1>
    <img [src]="user.photoURL" alt="" class="img-thumbnail">
    <hr>

    <app-book></app-book>

    <hr>

    <div class="accordion">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Nouveau livre
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <app-add-book></app-add-book>
          </div>
        </div>
      </div>
    </div>

  </div>

  <ng-template #login>
    <button class="btn btn-danger" (click)="loggin()">se connecter</button>
  </ng-template>




</div>
